.span12{
      -moz-box-shadow: 0 0 2px black;
      -webkit-box-shadow: 0 0 2px black;
      box-shadow: 0 0 2px black;
      padding:15px;
  }
  h5.title{
 color:#268DDA;
  }
  .checked {
    color: orange;
  }

  .left-half{
    background:grey;
    width:200px;
    float:left;
}
.right-half{
    background:green;
    overflow-x:hidden;
}
.left-align{
    display: inline-block;
}

.address {
        font-size: 1.2rem;
        color: #999;
}
.price-feature{
    color:#000;
}
.usrcl{
font-size:26px;
color:#999;
}
